{% extends "base.html" %}

{% block content %}

<h2>DOCKING TERMINAL</h2>

<p>External access point to AstroErid ship.</p>

<form method="POST">
    <input name="code" maxlength="4" required>
    <button>Unlock Dock</button>
</form>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

{% if unlocked %}
<p style="color:lime">
DOCK AUTHORIZED — SHIP ACCESS GRANTED
</p>

<a href="/cafeteria">Enter Cafeteria (Ship Interior)</a>

{% endif %}
<br>
<a href="/message">Return to Transmission</a>



</br>
<button onclick="document.getElementById('hint').style.display='block'">
Show Hint
</button>

<div id="hint" style="display:none; margin-top:10px; color:#00ffcc;">
Code is contained in the transmission
</div>

{% endblock %}