{% extends "base.html" %}

{% block content %}

<h2>CREW DIARY ENTRY</h2>

<p>
    Dear Diary,
</br></br>
    I don’t know why I’m writing this down. The doctor says it helps me differentiate between what is real and what’s not, but I think that’s just a coping mechanism they’re telling us to stop asking questions. 
</br></br>
    Something is very wrong with my mind. The doctor says it’s because I’ve been sleep deprived. 
</br></br>
    But then I started getting more sleep. And they only got worse. 
</br></br>
    I remember two days ago when I was standing in front of the research bay. It felt like something was watching me. Except there was nothing there. 
</br></br>
    Something is happening to my memories too. Recently, extremely vivid memories have been resurfacing, even though I swear I’ve never been to the parts of the ship where they happened. I’ve tried to ask others about it, but they all insist that they’ve never seen me there either. 
</br></br>
    I think people are starting to think that I am insane. They’ve started avoiding me, giving me dirty looks when I walk past. 
</br></br>
    There’s something on this ship, and it's messing with my mind. If I’m not myself anymore, don’t trust anything I say. 
</br></br>
    Just check the records carefully. 
    
</p>
<br>
<a href="/electrical">Back</a>

{% endblock %}