{% extends "base.html" %}

{% block content %}


<p>
To whoever finds this,

The crew was intentionally exposed to the creature.

It affects your mind. It causes hallucinations and makes you sound crazy.

AstroErid is trying to genetically modify it so that it can be used as a bioweapon.

You can’t let them succeed.

The creature is smarter than you think. It is evolving.

The containment is failing.

You have to destroy the ship. You can’t let it get out.

Please.

- Nora
</p>

<a href="/cafeteria">Return to Cafeteria</a>

{% endblock %}