{% extends "base.html" %}

{% block content %}


<p>
To whoever finds this,
<br>
<br><br>

The crew was intentionally exposed to the creature.
<br>
<br>
It affects your mind. It causes hallucinations and makes you sound crazy.
<br>
<br>
AstroErid is trying to genetically modify it so that it can be used as a bioweapon.
<br><br>
You can’t let them succeed.
<br><br>
The creature is smarter than you think. It is evolving.
<br><br>
The containment is failing.
<br><br>
You have to destroy the ship. You can’t let it get out.
<br><br>
Please.
<br><br>
<br>- Nora
</p>

<a href="/cafeteria">Return to Cafeteria</a>

{% endblock %}