{% extends "base.html" %}

{% block content %}

<h2>INCOMING TRANSMISSION</h2>

<p>
    Hey. If you’re reading this, then we’re in danger. I don’t know how much time I have left to send another message.

</br>
</br>

    First off, don’t believe anything AstroErid Technologies says. None of it. The “mineral surveys” and “rock samples” they’ve been sending to Earth are a cover. There hasn’t been a real survey run in months.

</br>
</br>

    We’re not doing deep space exploration out here. We’re studying something else entirely. Something they refuse to classify in official logs. Only the captain and a few others know what’s going on.
    
</br>
</br>
    
    I started noticing weird things <b>five</b> weeks ago. At first it was just small anomalies in the readings. Then came distorted signals, phantom readings, and data irregularities. Things didn't add up. Recently, a full containment protocol was ordered under “research optimization directives.”
    
</br>
</br>

    That’s when I realized something's not right.
    
</br>
</br>
    
    The crew stopped talking about it openly after <b>two</b> weeks. The captain said it was “stress-related adjustment.” But I know that they’re hiding something in that research lab.
    
</br>
</br>
    
    After <b>three</b> breaches in the research lab, they moved it into restricted containment. Official logs will say it was an equipment failure. That’s a lie.
    
</br>
</br>
    
    As I’m writing this message, the ship is still semi-stable, but barely. I don’t think we have that much time left. I’ve left some things inside the ship just in case I don’t make it. But most of it is hidden in the medical and research records. You’ll need to restore access manually.
    
</br>
</br>
    
    If you trust me at all, don’t let them recover this ship intact. Whatever is inside this ship is not meant to be transported. Or even exist. 
    
</br>
</br>
    
    Be quick about it. <i>I don’t think it’ll be contained for much longer.</i> I estimate about <b>seven</b> days. 
    
</br>
</br>
    
    And if I’m wrong about all of this… then I need you to prove it.
    
</p>
<br>
<a href="/dock">Proceed to Docking Bay</a>

{% endblock %}